<form [formGroup]="form">
  <div class="flex flex-col">
    <mat-label>District</mat-label>
    <mat-form-field class="" appearance="outline">
      <input matInput placeholder="Enter District" formControlName="district" />
    </mat-form-field>
  </div>
  <div class="flex flex-col">
    <mat-label>Thana</mat-label>
    <mat-form-field class="" appearance="outline">
      <input matInput placeholder="Enter Thana" formControlName="thana" />
    </mat-form-field>
  </div>
  <div class="flex flex-col">
    <mat-label>Post Code</mat-label>
    <mat-form-field class="" appearance="outline">
      <input
        matInput
        placeholder="Enter Post Code"
        formControlName="postCode"
      />
      <mat-error *ngIf="postCode?.hasError('required')"
        >Post code is required</mat-error
      >
      <mat-error *ngIf="postCode?.hasError('pattern')"
        >Post Code must be a number</mat-error
      >
      <mat-error *ngIf="postCode?.hasError('maxlength')"
        >Post Code cannot be longer than 5 digits</mat-error
      >
    </mat-form-field>
  </div>
  <div class="flex flex-col">
    <mat-label>Address</mat-label>
    <mat-form-field class="" appearance="outline">
      <input matInput placeholder="Enter Address" formControlName="address" />
    </mat-form-field>
  </div>
  {{ form.value | json }}
</form>
