<div *ngIf="getFormGroup() as addressFormGroup" [formGroup]="addressFormGroup">
  <div class="flex flex-col">
    <mat-label>District</mat-label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput placeholder="Enter District" formControlName="district" />
      <mat-error *ngIf="district?.hasError('required')"
        >District is required</mat-error
      >
    </mat-form-field>
  </div>
  <div class="flex flex-col">
    <mat-label>Thana</mat-label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput placeholder="Enter Thana" formControlName="thana" />
      <mat-error *ngIf="thana?.hasError('required')"
        >Thana is required</mat-error
      >
    </mat-form-field>
  </div>
  <div class="flex flex-col">
    <mat-label>Post Code</mat-label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input
        matInput
        placeholder="Enter Post Code"
        formControlName="postCode"
      />
      <mat-error *ngIf="postCode?.hasError('required')"
        >Post Code is required</mat-error
      >
    </mat-form-field>
  </div>
  <div class="flex flex-col">
    <mat-label>Address</mat-label>
    <mat-form-field class="example-full-width" appearance="outline">
      <input matInput placeholder="Enter Address" formControlName="address" />
      <mat-error *ngIf="address?.hasError('required')"
        >Address is required</mat-error
      >
    </mat-form-field>
  </div>
</div>
