@import "@angular/material/prebuilt-themes/indigo-pink.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or styles.scss */
.custom-snackbar {
  background-color: #4caf50; /* Green background */
  color: #ffffff; /* White text */
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
